
<div class="gridRow" *ngIf="done === true">
  <div class="gridColumn">
    <div *ngFor="let data of getItem(1, 2); let i of index">
      <div *ngIf="data != null">
      <div>
          <p>{{data.atomicNumber}}</p>
          <h3>{{data.symbol}}</h3>
          <p>{{ data.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="gridColumn">
    <div *ngFor="let data of getItem(3, 10)">
      <div *ngIf="data != null">
        <div>
          <p>{{data.atomicNumber}}</p>
          <h3>{{data.symbol}}</h3>
          <p>{{ data.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="gridColumn">
    <div *ngFor="let data of getItem(11, 18)">
      <div *ngIf="data != null">
        <div>
          <p>{{data.atomicNumber}}</p>
          <h3>{{data.symbol}}</h3>
          <p>{{ data.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="gridColumn">
    <div *ngFor="let data of getItem(19, 36)">
      <div *ngIf="data != null">
        <div>
          <p>{{data.atomicNumber}}</p>
          <h3>{{data.symbol}}</h3>
          <p>{{ data.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="gridColumn">
    <div *ngFor="let data of getItem(37, 54)">
      <div *ngIf="data != null">
        <div>
          <p>{{data.atomicNumber}}</p>
          <h3>{{data.symbol}}</h3>
          <p>{{ data.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="gridColumn">
    <div *ngFor="let data of getItem(55, 56)">
      <div *ngIf="data != null">
        <div>
          <p>{{data.atomicNumber}}</p>
          <h3>{{data.symbol}}</h3>
          <p>{{ data.name }}</p>
        </div>
      </div>
    </div>
    <div *ngFor="let data of getItem(72, 86)">
      <div *ngIf="data != null">
        <div>
          <p>{{data.atomicNumber}}</p>
          <h3>{{data.symbol}}</h3>
          <p>{{ data.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="gridColumn">
    <div *ngFor="let data of getItem(87, 88)">
      <div *ngIf="data != null">
        <div>
          <p>{{data.atomicNumber}}</p>
          <h3>{{data.symbol}}</h3>
          <p>{{ data.name }}</p>
        </div>
      </div>
    </div>
    <div *ngFor="let data of getItem(104, 118)">
      <div *ngIf="data != null">
        <div>
          <p>{{data.atomicNumber}}</p>
          <h3>{{data.symbol}}</h3>
          <p>{{ data.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="gridColumn">
    <div *ngFor="let data of getItem(57, 71)">
      <div *ngIf="data != null">
        <div>
          <p>{{data.atomicNumber}}</p>
          <h3>{{data.symbol}}</h3>
          <p>{{ data.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="gridColumn">
    <div *ngFor="let data of getItem(89, 103); let i of index">
      <div *ngIf="data != null">
        <div>
          <p>{{data.atomicNumber}}</p>
          <h3>{{data.symbol}}</h3>
          <p>{{ data.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <div class="gridRow" *ngFor="let data of elements; let i = index">
    <div *ngIf="i < 2">
      <div class="box">
        <p>{{ data.name }} {{ data.atomicNumber }}</p>
      </div>
    </div>
    <div *ngIf="i < 10 && i >= 2">
      <div class="box">
        <p>{{ data.name }} {{ data.atomicNumber }}</p>
      </div>
    </div>
    <div *ngIf="i < 18 && i >= 10">
      <div class="box">
        <p>{{ data.name }} {{ data.atomicNumber }}</p>
      </div>
    </div>
    <div *ngIf="i < 36 && i >= 18">
      <div class="box">
        <p>{{ data.name }} {{ data.atomicNumber }}</p>
      </div>
    </div>
    <div *ngIf="i < 54 && i >= 36">
      <div class="box">
        <p>{{ data.name }} {{ data.atomicNumber }}</p>
      </div>
    </div>
    <div *ngIf="i < 56 && i >= 54 || i < 86 && i >= 71">
      <div class="box">
        <p>{{ data.name }} {{ data.atomicNumber }}</p>
      </div>
    </div>
    <div *ngIf="i < 88 && i >= 86 || i < 118 && i >= 103">
      <div class="box">
        <p>{{ data.name }} {{ data.atomicNumber }}</p>
      </div>
    </div>
    <div *ngIf="i < 71 && i >= 56">
      <div class="box">
        <p>{{ data.name }} {{ data.atomicNumber }}</p>
      </div>
    </div>
    <div *ngIf="i < 103 && i >= 88">
      <div class="box">
        <p>{{ data.name }} {{ data.atomicNumber }}</p>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
